<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/favicon_package_v0.16/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon_package_v0.16/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon_package_v0.16/favicon-16x16.png?v=1">
<link rel="manifest" href="/assets/icons/favicon_package_v0.16/site.webmanifest?v=1">
<link rel="mask-icon" href="/assets/icons/favicon_package_v0.16/safari-pinned-tab.svg?v=1" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icons/favicon_package_v0.16/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/icons/favicon_package_v0.16/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->